
/*

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  hsl(212, 45%, 89%);

}

.qrdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffff;
    padding: 0.6rem;
    max-width: 300px;
    border-radius: 15px;
    margin:auto;
}

.qrdiv img{
    
    max-height: 200px;
    max-width: 200px;
    display: flex;
    border-radius: 5px;
}

.qrdiv h3{
    text-align: center;
    padding: 1rem 0.5rem 0.8rem;
    font-size: 14px;
    
}

.qrdiv p {
    color:  hsl(220, 15%, 55%);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align-last: center;
    font-size: 12px;
    

}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
